<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Blog</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</head>
<body>

<div class="panel panel-default">
	
	<div class="panel-heading">
		<h1>Blog</h1>
		<strong style="color: #87CEEB">Blog of notes folks</strong>
	</div>
	
	<div class="panel-body">
	
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/add/}">Adicionar</a>
		</div>
		
		<br/>
	
		<div class="table-responsive">
			
			<table class="table table-sm table-striped table-houver table-bordered">
				<thead>
					<tr>
						<th>Id</th>
						<th>Autor</th>
						<th>Título</th>
						<th>Date Publicação</th>
						<th>Ações</th>
					</tr>
				</thead>	
				<tbody>
					<tr th:each="post : ${posts}">
						<td th:text="${post.id}"></td>
						<td th:text="${post.autor}"></td>
						<td th:text="${post.titulo}"></td>
						<td th:text="${#dates.format(post.data, 'dd/MM/yyyy')}"></td>
						<td>
							<div>
								<a class="btn btn-sm btn-primary" th:href="@{/edit/{id}(id=${post.id})}">Editar</a> 
								<a class="delete btn btn-sm btn-danger" th:href="@{/delete/{id}(id=${post.id})}">Excluir</a>
							</div>
						</td>
					</tr>
				</tbody>	
					
			</table>			
		</div>
	</div>		
</div>	
</body>
</html>